@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    /* --background-color: #332941; */
    --background-color: #000;
    --primary-color: #F4CE14;
    --secondary-color: #F5F7F8;
}

body{
    background-color:var(--background-color);
    font-family: "IBM Plex Mono";
}

.navbar{
    height: 120px;
}

.navbar img{
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.container-1{
    height: 500px;
    width: 80vh;
    padding: 80px;
    font-size: 1.3em;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}

.container-2{
    height: 500px;
    width: 90vh;
    padding: 70px;
    letter-spacing: 2px;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.container-2 .amount{
   position: relative;
   padding: 15px 0 0;
   margin-left: 50px;
}

.box{
    outline: 1.5px solid var(--secondary-color);
    font-size: 1rem;
    border-radius: 8px;
    color: var(--secondary-color);
    padding: 8px;
    border: none;
    padding-right: 32px;
    background: transparent;
    transition: all 0.2s;
}

.box::placeholder{
    color: transparent;
}

.box:placeholder-shown~.box-label{
    font-size: 1rem;
    cursor: text;
    color: var(--secondary-color);
    top: 24px;
}

.label, .box:focus~.box-label{
    position: absolute;
    top: 6px;
    padding: 0 4px;
    background-color: var(--background-color);
    display: block;
    font-size: 14px;
    left: 8px;
    color: var(--secondary-color);
    transition: 0.3s;
}

.box:focus~.box-label{
    color: var(--primary-color);
}

.box:focus{
    outline: 1.5px solid var(--primary-color);
}

.dropdown{
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.dropdown .from .select-container, .dropdown .to .select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

select{
    background-color: transparent;
    outline: 1px solid var(--secondary-color);
    font-size: 1rem;
    border-radius: 8px;
    color: var(--secondary-color);
    padding: 5px;
    border: none;
    background: transparent;
    transition: all 0.2s;
}
option{
    background-color: var(--background-color);
}

.select-container img{
    height: 50px;
}

.icon{
    color: var(--background-color);
    font-size: 24px;
    background-color: var(--primary-color);
    border: 10px solid var(--primary-color);
    border-radius: 50%;
}

.msg{
   margin-left: 100px; 
   margin-bottom: 20px;
}

button{
    background-color: var(--primary-color);
    margin-left: 180px; 
    outline: 1px solid var(--background-color);
    font-size: 1.4rem;
    border-radius: 8px;
    color: var(--background-color);
    padding: 5px;
    border: none;
    transition: all 0.2s;
    width: 100px;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
}

